<div class="container-fluid">
  <h3>Your Cart:</h3>
</div>

<div>
  <table class="table">
    <thead>
      <th>Qty</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Subtotal</th>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
      </tr>
    </tbody>
    <!-- <tr>
      <td>{{item.name}}</td>
      <td>{{item.description}}</td>
      <td>{{item.price | currency:'MYR'}}</td>
    </tr> -->
  </table>
</div>


<button type="button" class="btn btn-dark" routerLink="/products">Continue Shopping</button>
<button type="button" class="btn btn-primary" routerLink="/review">Checkout</button>
