<div class="container">

<h2>List of Phones:</h2>

  <div class="container">
    <ul class="list-group">
      <li *ngFor="let phone of phones" (click)="onSelect(phone)" class="list-group-item" [class.active]="phone === selectedItem">
        {{phone.name}} <br>
        {{phone.description}} <br>
        {{phone.price | currency: 'MYR'}}
      </li>
    </ul>
    <button type="button" class="btn" routerLink="/cart">Go to Cart</button>
  </div>

  <!-- <div>
      <h2>Add Item:</h2>
      <label>Name:
        <input [(ngModel)]="newphones.name" placeholder="Name" type="text">
      </label>
      <label>Description:
        <input [(ngModel)]="newphones.description" placeholder="Description" type="text">
      </label>
      <label>Price:
        <input [(ngModel)]="newphones.price" placeholder="Price" type="number">
      </label>
      <button (click)="addItem()">Add Item</button>
  </div> -->

  <!-- <div *ngIf="selectedItem">
      <h2>Edit Item:</h2>
      <label>Name:
        <input [(ngModel)]="newphones.name" placeholder="{{selectedItem.name}}" type="text">
      </label>
      <label>Description:
        <input [(ngModel)]="newphones.description" placeholder="{{selectedItem.description}}" type="text">
      </label>
      <label>Price:
        <input [(ngModel)]="newphones.price" placeholder="{{selectedItem.price}}" type="number">
      </label>
      <button>Edit Item</button>
  </div> -->

  <app-product-details [item]="selectedItem"></app-product-details>
</div>
